{{ hash_header }}table inet filter {
  set ai_crawlers_v4 {
    type ipv4_addr
    flags interval
    elements = {
{% for cidr in v4 %}
      {{ cidr }}{% if not loop.last %},{% endif %}
{% endfor %}
    }
  }

  set ai_crawlers_v6 {
    type ipv6_addr
    flags interval
    elements = {
{% for cidr in v6 %}
      {{ cidr }}{% if not loop.last %},{% endif %}
{% endfor %}
    }
  }

  chain input {
    type filter hook input priority 0;
    ip saddr @ai_crawlers_v4 drop
    ip6 saddr @ai_crawlers_v6 drop
  }
}

